@use "@/styles/helpers/helpers.scss" as *;

.ScrollToTop {
    .backToTop{
        z-index: 1;
        right: 20px;
        bottom: 20px;
        position: fixed;
        .topArrow{
            display: flex;
            width: 50px;
            height: 50px;
            cursor: pointer;
            align-items: center;
            border-radius: 100%;
            justify-content: center;
            background-color: var(--color_primary_tint);
            .topArrowImage{
                filter: invert(1);
                transform: rotate(-90deg)
            }
        }
    }
}