@font-face {
	font-family: "FormaDJRMicro-Medium";
	src: url("/fonts/FormaDJRMicro-Medium-Testing.otf") format("opentype");
}
@font-face {
	font-family: "BURST-SPEED";
	src: url("/fonts/BURST-SPEED.otf") format("opentype");
}
@font-face {
	font-family: "VTFRedzone-Classic";
	src: url("/fonts/VTFRedzone-Classic.ttf") format("opentype");
}