@use "./index.scss" as *;

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	@extend .text_reg;
	font-family: var(--font_d_r);

	@include sm-down {
		font-size: 10px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

picture,
video {
	display: block !important;
}

section {
	position: relative;
}

.container-fluid {
	width: 100%;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.container {
	@extend .container-fluid;
	margin: 0 auto;
	width: var(--container_width);
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.text_center {
	text-align: center;
}

.text_uppercase {
	text-transform: uppercase;
}

.text_italic {
	font-style: italic;
}

.section_spacing {
	padding: 10vmin 0;
}

// Classes for fonts
.font_primary {
	font-family: var(--font_primary);
}

.font_secondary {
	font-family: var(--font_secondary);
}

.objectFitCover {
	img {
		object-fit: cover !important;
	}
}

.pagePadd{
	padding-top: 60px;
}

.primaryBtn{
	border-radius: 100px;
	padding: 14px 40px 11px 40px;
	background-color: var(--color_primary_tint);
	color: #FFF;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 13.947px; /* 77.482% */
	letter-spacing: -0.18px;
	transition: 0.2s ease-in-out;
	font-family: var(--font_primary);
	border: 2px solid var(--color_primary_light);
	&:hover{
		color: var(--color_black);
		border: 2px solid var(--color_primary_tint);
		background-color: var(--color_white);
	}
}

.sectionTitle{
	font-size: 116.845px;
	font-style: normal;
	font-weight: 400;
	line-height: 97px; /* 83.016% */
	letter-spacing: 2.337px;
	font-family: var(--font_title);
}

.black{
	color: var(--color_black);
}

.smallTitle{
	color: #FFF;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px; /* 118.182% */
	text-transform: uppercase;
	font-family: var(--font_primary);
}

.sectionOverlay{
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	background: rgba(214, 214, 214, 0.68);
	backdrop-filter: blur(7px);
	.comingSoonBtn{
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		color: #FFF;
		font-family: var(--font_secondary);
		font-size: 60.413px;
		font-style: normal;
		font-weight: 400;
		line-height: 53.994px; /* 89.375% */
		letter-spacing: -0.604px;
		padding: 22px 75px 33px;

		border-radius: 19.634px;
		border: 1.373px solid #FFCEA9;
		background: linear-gradient(73deg, #FF4B03 54.59%, #FDB033 108.76%);
		backdrop-filter: blur(8.533387184143066px);
	}
}
