@use "../helpers/mixins/media.scss" as *;

// .text_xxs {}
// .text_xs {}
// .text_sm {}

// For default body copy font
.text_reg {
	font-size: 18px;
	line-height: calc(27 / 18);

	@include sm-down {
		font-size: 16px;
		line-height: calc(24 / 16);
	}
}

// .text_md {}
// .text_lg {}
// .text_xl {}
// .text_xxl {}
// .text_xxxl {}
// .text_xxxxl {}

// // Each loop for creating font weights ->
// //.text_100, .text_200 .....
// light, reg, med, semibold, bold, extrabold,black
$sizes: 300, 400, 500, 600, 700, 800, 900;

@each $size in $sizes {
	.text_#{$size} {
		font-weight: $size;
	}
}

.font_primary {
	font-family: var(--font_primary);
}

.font_secondary {
	font-family: var(--font_secondary);
}

// color style
.color_secondary {
	color: var(--color_secondary);
}
.color_white {
	color: var(--color_white);
}
.color_black {
	color: var(--color_black);
}
// color style end

// line height
.l_h_1 {
	line-height: 1.1;
}
.l_h_2 {
	line-height: 1.2;
}
.l_h_3 {
	line-height: 1.3;
}
.l_h_4 {
	line-height: 1.4;
}
.l_h_5 {
	line-height: 1.5;
}
.l_h_6 {
	line-height: 1.6;
}
// line height end

// font weight
.f_w_l {
	font-weight: 300;
}
.f_w_r {
	font-weight: 400;
}
.f_w_m {
	font-weight: 500;
}
.f_w_s_b {
	font-weight: 600;
}
.f_w_b {
	font-weight: 700;
}
.f_w_i {
	font-style: italic;
}
.f_w_i_none {
	font-style: inherit;
}

.d_f_w_s_b {
	font-weight: 600;
	@media (max-width: 767px) {
		font-weight: 500;
	}
}
.d_f_w_b {
	font-weight: 700;
	@media (max-width: 767px) {
		font-weight: 500;
	}
}
// font weight end

// radius style
.b_r_60 {
	border-radius: 60px;
}
.b_r_12 {
	border-radius: 12px;
}
.b_r_10 {
	border-radius: 10px;
}
.b_r_12 {
	border-radius: 12px;
}
.b_r_5 {
	border-radius: 5px;
}
.b_r_4 {
	border-radius: 4px;
}
// radius style end

.text_italic {
	font-style: italic;
}

.text_center {
	text-align: center;
}
@media (max-width: 767px) {
	.m_text_center {
		text-align: center;
	}
}

.text_uppercase {
	text-transform: uppercase;
}

.overflow_hidden {
	overflow: hidden;
}

.width_100 {
	width: 100%;
}

// flex class start
.d_f {
	display: flex;
}
.f_w {
	display: flex;
	flex-wrap: wrap;
}
.f_w_j {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.f_w_a_j_center {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.f_j {
	display: flex;
	justify-content: space-between;
}
.f_w_se {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.f_w_a {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.f_r_aj_between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.f_r_aj_center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.f_r_a_center {
	display: flex;
	align-items: center;
}
.a_center {
	align-items: center;
}
.f_r_j_center {
	display: flex;
	justify-content: center;
}
.f_c_aj_center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.f_c_a_center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.f_c_j_center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.a_c_space_evenly {
	align-content: space-evenly;
}
.j_c_space_evenly {
	justify-content: space-evenly;
}
.j_c_center {
	justify-content: center;
}
.f_d_c {
	flex-direction: column;
}
.a_i_e {
	align-items: end;
}
// flex class end

// spacing
.m_0_auto {
	margin: 0 auto;
}
.m_tb_0 {
	margin: 0;
}
.m_b_5 {
	margin: 0 0 5px;
}
.m_t_5 {
	margin: 5px 0 0;
}
.m_tb_5 {
	margin: 5px 0;
}
.m_b_10 {
	margin: 0 0 10px;
}
.m_t_10 {
	margin: 10px 0 0;
}
.m_tb_10 {
	margin: 10px 0;
}
.m_b_15 {
	margin: 0 0 15px;
}
.m_t_15 {
	margin: 15px 0 0;
}
.m_tb_15 {
	margin: 15px 0;
}
.m_b_20 {
	margin: 0 0 20px;
}
.m_t_20 {
	margin: 20px 0 0;
}
.m_tb_20 {
	margin: 20px 0;
}
.m_b_30 {
	margin: 0 0 30px;
}
.m_t_30 {
	margin: 30px 0 0;
}
.m_tb_30 {
	margin: 30px 0;
}
.m_b_80 {
	margin: 0 0 80px;
	@media only screen and (max-width: 767px) {
		margin: 0 0 60px;
	}
}
.m_t_80 {
	margin: 80px 0 0;
	@media only screen and (max-width: 767px) {
		margin: 60px 0 0;
	}
}
.m_tb_80 {
	margin: 80px 0;
	@media only screen and (max-width: 767px) {
		margin: 60px 0;
	}
}
.m_b_100 {
	margin: 0 0 100px;
	@media only screen and (max-width: 767px) {
		margin: 0 0 80px;
	}
}
.m_t_100 {
	margin: 100px 0 0;
	@media only screen and (max-width: 767px) {
		margin: 80px 0 0;
	}
}
.m_tb_100 {
	margin: 100px 0;
	@media only screen and (max-width: 767px) {
		margin: 80px 0;
	}
}
.p_t {
	padding-top: 20px;
}
.pt_10 {
	padding-top: 10px;
}
.pb_10 {
	padding-bottom: 10px;
}
.ptb_10 {
	padding: 10px 0;
}
.pt_20 {
	padding-top: 20px;
}
.pb_20 {
	padding-bottom: 20px;
}
.pt_15 {
	padding-top: 15px;
}
.pb_15 {
	padding-bottom: 15px;
}

.ptb_20 {
	padding: 20px 0;
}
.pt_30 {
	padding-top: 30px;
}
.pb_30 {
	padding-bottom: 30px;
}
.ptb_30 {
	padding: 30px 0;
}
.pt_40 {
	padding-top: 40px;
}
.pb_40 {
	padding-bottom: 40px;
}
.ptb_40 {
	padding: 40px 0;
}
.pt_50 {
	padding-top: 50px;
}
.pb_50 {
	padding-bottom: 50px;
}
.ptb_50 {
	padding: 50px 0;
}
.ptb_60 {
	padding: 60px 0;
}
@media only screen and (max-width: 767px) {
	.ptb_60 {
		padding: 40px 0;
	}
}
.pt_60 {
	padding-top: 60px;
}
@media only screen and (max-width: 767px) {
	.pt_60 {
		padding-top: 40px;
	}
}
.pb_60 {
	padding-bottom: 60px;
}
@media only screen and (max-width: 767px) {
	.pb_60 {
		padding-bottom: 40px;
	}
}
.ptb_70 {
	padding: 70px 0;
}
@media only screen and (max-width: 767px) {
	.ptb_70 {
		padding: 40px 0;
	}
}
.pt_70 {
	padding-top: 70px;
}
@media only screen and (max-width: 767px) {
	.pt_70 {
		padding-top: 40px;
	}
}
.pb_70 {
	padding-bottom: 70px;
}
@media only screen and (max-width: 767px) {
	.pb_70 {
		padding-bottom: 40px;
	}
}
.ptb_80 {
	padding: 80px 0;
}
@media only screen and (max-width: 767px) {
	.ptb_80 {
		padding: 60px 0;
	}
}
.pt_80 {
	padding-top: 80px;
}
@media only screen and (max-width: 767px) {
	.pt_80 {
		padding-top: 60px;
	}
}
.pb_80 {
	padding-bottom: 80px;
}
@media only screen and (max-width: 767px) {
	.pb_80 {
		padding-bottom: 60px;
	}
}
.ptb_100 {
	padding: 100px 0;
}
@media only screen and (max-width: 991px) {
	.ptb_100 {
		padding: 60px 0;
	}
}
.pt_100 {
	padding-top: 100px;
}
@media only screen and (max-width: 991px) {
	.pt_100 {
		padding-top: 60px;
	}
}
.pt_120 {
	padding-top: 120px;
}
@media only screen and (max-width: 991px) {
	.pt_120 {
		padding-top: 90px;
	}
}
.pb_100 {
	padding-bottom: 100px;
}
@media only screen and (max-width: 991px) {
	.pb_100 {
		padding-bottom: 60px;
	}
}
// spacing end

// //each loop for creating font weights ->
// //.text_100, .text_200 .....
// light, reg, med, semibold, bold, extrabold,black
$sizes: 300, 400, 500, 600, 700, 800, 900;

@each $size in $sizes {
	.text_#{$size} {
		font-weight: $size;
	}
}

.hidden {
	display: none !important;
}

.visible_lg {
	display: block;

	@media (max-width: 1199px) {
		display: none !important;
	}
}

.hidden_lg {
	display: none;

	@media (max-width: 1199px) {
		display: block !important;
	}
}

.hidden_xs {
	display: block;

	@media (max-width: 767px) {
		display: none !important;
	}
}
.hidden_md {
	display: block;

	@media (max-width: 991px) {
		display: none !important;
	}
}
.hidden_sm {
	display: block;

	@media only screen and (min-width: 767px) and (max-width: 1024px) {
		display: none !important;
	}
}
.visible_xs {
	display: block;

	@media (min-width: 767px) {
		display: none !important;
	}
}
