## ADD STRAPI AUTH TOKEN ##
AUTH_TOKEN=

## ADD STRAPI URL ##
STRAPI_DO_BASE_URL=
NEXT_PUBLIC_STRAPI_DO_BASE_URL=

## ADD NETLIFY, VEREL or PRODUCTION URL ##
NEXT_PUBLIC_DOMAIL_URL=https://ting.in
DOMAIL_URL=https://ting.in