@use "@/styles/helpers/helpers.scss" as *;

.TopBanner {
    width: 100%;
    position: relative;
    height: calc(100vh - 60px);
    .bannerImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .bannerInfo{
        left: 0;
        z-index: 1;
        width: 94%;
        bottom: 50px;
        position: absolute;
        h2{
            width: 600px;
            background: linear-gradient(101deg, #FFF 55.65%, #999 92.28%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .bannerDownArrow{
        right: 0;
        z-index: 1;
        width: 14px;
        bottom: 50px;
        position: absolute;
    }
    .overlay{
		width: 100%;
		height: 60vh;
		left: 0;
		bottom: 0;
		opacity: 0.93;
		position: absolute;
		background: linear-gradient(180deg, rgba(89, 39, 0, 0.00) 29.59%, #241000 89.44%);
	}
}