@use "../helpers/helpers.scss" as *;

.error_page {
	width: 100%;
	height: 100vh;
	background-color: var(--color_secondary_deep);

	.error_wrap {
		width: 100%;
		height: 100%;
		@extend %f_r_aj_center;
		@extend %f_d_column;
		color: var(--color_white);

		.title {
			font-size: 90px;
			font-weight: 600;
		}

		.desp {
			font-size: 24px;
		}

		.home_btn {
			margin-top: 30px;
		}
	}
}
