@use "@/styles/helpers/helpers.scss" as *;

.main_footer {
	position: relative;
	background: linear-gradient(96deg, #FF4C04 -47.38%, #FF8D35 46.34%, #FF4C04 118.78%);
	.footerBg{
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
	}
	.topFooter{
		padding: 0 100px 20px 100px;
		.Newsletter{
			h5{
				color: #F5F7F8;
				font-size: 22.609px;
				font-style: normal;
				font-weight: 400;
				line-height: 29.391px;
			}
			form{
				.formWrap{
					width: 350px;
					height: 44px;
					// background: linear-gradient(90deg, #ff8a00, #ffb347);
					border-radius: 40px;
					display: flex;
					align-items: center;
					// padding: 6px;
					input {
						flex: 1;
						height: 100%;
						border: none;
						outline: none;
						background: rgba(255, 255, 255, 0.35);
						border-radius: 34px;
						padding: 0 24px;
						font-size: 16px;
						color: #000;
					}
					button {
						height: 100%;
						padding: 0 32px;
						margin-left: -60px; 
						border: none;
						border-radius: 34px;
						background: #ff4d00;
						color: #fff;
						cursor: pointer;
						font-family: var(--font_secondary);
						color: #FFF;
						font-size: 20.348px;
						font-style: normal;
						font-weight: 400;
						transition: 0.2s ease-in-out;
						line-height: 15.766px; /* 77.482% */
						letter-spacing: -0.203px;
						border: 3px solid #FF7D19; 
						&:hover {
							background: #FF7D19;
							border: 3px solid #ff4d00; 
						}
					}
				}
				::placeholder {
					color: #000;
					opacity: 0.7;
				}
			}
		}
	}
	.bottomFooter{
		padding: 20px 100px;
		border-top: 2px solid #f3b28475;
		border-bottom: 2px solid #f3b28475;
		p{
			font-size: 20px;
			font-style: normal;
			font-weight: 300;
			line-height: 26px; 
			color: var(--Off-White, #F5F7F8);
		}
		.socialMedia{
			ul{
				padding-left: 0;
				list-style: none;
				grid-gap: 20px;
			}
		}
	}
}
